tbody {
   display: grid;
   /* border: 2px solid blue; */
   /* border-radius: 5px; */
   /* background-color: aqua; */
   /* grid-template-rows: repeat(3, 30px); */
}

#row1 {
    display: grid;
    border: 1px solid black;
    border-radius: 0px;
}

#row2{
    display: grid;
    border: 1px solid black;
    border-radius: 0px;
}

#row3 {
    display: grid;
    border: 1px solid black;
    border-radius: 0px;
}

#row4 {
    display: grid;
    border: 1px solid black;
    border-radius: 0px;
}